.header {
  display: flex;
  height: 100px;
  &__user {
    width: 265px;
    color: $textWhiteColor;
    padding: 0 15px 0 20px;
    text-align: left;
    background-color: #253141;
    font-size: 16px;
    font-weight:  bold;
    line-height: 100px;
    float: left;
  }
  &__icon{
    letter-spacing: 5px;
    float: right;
    color: $textWhiteColor;
  }
  &__group {
    flex: 1;
    width: calc(100vw - 300px);
    padding: 35px 40px 0;
    border-bottom: solid 1px #eeeeee;
    &__name{
      font-size: 20px;
      color: #333333;
    }
    &__member{
      margin-top: 15px;
      float: left;
      font-size: 12px;
      color: $lightTextColor;
    }
  }
  &__edit{
    margin-top: 28px;
    border: solid 1px $buttonBlueColor;
    height: 40px;
    padding:0 20px;
    text-align: right;
    line-height: 40px;
    position: absolute;
    right: 40px;
    &__link{
      text-decoration: none;
      color: $buttonBlueColor;
    }
  }
}


.main{
  display: flex;
  height: calc(100vh - 100px);
  &__left{
    background-color: #2f3e51;
    width: 260px;
    padding: 20px 20px 0;
    text-align: left;
    overflow: scroll;
    &__link{
      text-decoration: none;
      color: $textWhiteColor;
      &__join_group{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message{
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }
  &__right{
    width: calc(100vw - 300px);
    &__chats{
      overflow: scroll;
      padding: 26px 40px 0;
      background-color: #fafafa;
      height: calc(100vh - 190px);
      box-sizing: border-box;
      .chat{
        &__upper-chat{
          display: flex;
          &__user{
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date{
            color: #999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        &__message{
          color: #434a54;
          font-size: 14px;
          margin-bottom: 40px;
          margin-top: 10px;
        }
      }
    }
    &__input{
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 40px 20px 40px;
      .type_a_message{
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 125px);
        background-color: $white;
        padding-left: 10px;
      }
      .icon{
      position: absolute;
      left: calc(100vw - 190px);
      bottom: 35px;
      z-index: 1;
      font-size: 1.3rem;
      }
      .file_form{
        display: none;
      }
      .send{
      float: right;
      padding: 0 10px;
      margin-left: 10px;
      height: 50px;
      width: 100px;
      background-color: $buttonBlueColor;
      color: $textWhiteColor;
      border: none;
      }
    }
  }
}